$font-family: "Poppins", sans-serif;

$color-background:#080202;
$color-background2:#0D0D0D;

$color-secundario:#DB241B;
$color-terciario:#F6A700;

$color-botones2:#AB1C15;

$color-seccion:#950101;
$color-seccion2:#3D0000;
$color-seccion3:#D3D2D2;

$color-texto2:#FFFFFF;
$color-texto3:#A7A7A7;

