.footer{
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #080202;
  h4{
    color: $color-texto2;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
  }
}

.forms{
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: $color-background;
}

input,textarea {
  border:2px solid $color-secundario;
  background-color:$color-background;
  display: inline-block;
  padding: 15px 35px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 20px;
  border-radius: 50px;
  margin-bottom: 1rem;
  color: $color-texto2;
}

.btn-forms{
  display: inline-block;
  border:2px solid $color-secundario;
  background-color:$color-secundario;
  padding: 15px 35px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 50px;
  margin-right: 20px;
  border-radius: 50px;
  margin-bottom: 1rem;

  &:hover{
    background-color: $color-background;
    color: $color-texto2;
    cursor: pointer;
  }
}

.footer p{
  color: $color-texto2;
  padding: 2rem 0rem;
}

.redes-sociales-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 2rem 2rem;
}
  
.fa-brands {
  font-size: 2rem;
  color: $color-secundario;

  &:hover {
    color: $color-texto2
  }

  &:active {
    color: $color-secundario;
  }
}